#map {
    height: 600px;
    width: 100%;
}

.info {
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.highlight {
    fill: orange;
    /* Cor de destaque ao passar o mouse */
}